@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@700&display=swap");

:root {
  --link-color: #ffffff;
  --text-active: #ff6c00;
  --link-active-color: #ff6c00;
  --text-font-family: "Open Sans", sans-serif;
  --heading-font-family: "Raleway", sans-serif;
  --text-color: #9da4bd;
  --text-alternate color: #303030;
  --subheading-color: #9DA4BD99;
  --heading-color: #ffffff;
  --heading-alternate-color: #303030;
}

body {
  font-family: var(--text-font-family);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: var(--heading-font-family);
}
h2 {
font-size: 42px;
line-height: 49px;
letter-spacing: 2.1px;
}
ul {
list-style-type: none;
}
.button {
font-size: 12px;
font-weight: 600;
line-height: 16px;
letter-spacing: 1.08px;
text-transform: uppercase;
}

/* Golobal Header */

.global-header {
  background: #363636;
}
.global-header a {
  color: var(--link-color);
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}
.global-header .main-navigation a,
.global-header .main-navigation a.visited {
  letter-spacing: 0, 1em;
}
.global-header a.active {
  color: var(--link-active-color);
}
.global-header .social-link {
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
}
.global-header .main-navigation .pone-number {
  text-transform: uppercase;
}

/* Sections */

.global-header button {
  letter-spacing: 0.09em;
}
.section-sub-heading {
  font-family: Open Sans;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}
.hero-heading {
  color: var(--heading-color);
  font-family: Raleway;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.6px;
}
section {
  background: #363636;
  color: var(--text-color);
  letter-spacing: 0.28px; 
}
.section address {
  color: var(--text-color);
font-size: 18px;
font-weight: 400;
line-height: 30px; 
letter-spacing: 0.36px;
}
.section address a {
  color: var(--text-color);
}
.section address a:hover,
.section address a:focus {
  color: var(--link-color);
}

.section h3 {
color: var(--text-color);
}

section h1,
section h2 {
  color: var(--heading-color);
}
.section-with-light-bg {
  background: #ffffff;
  color: #555555;
  font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
}

.section-with-light-bg h1,
.section-with-light-bg h2,
.section-with-light-bg h3 {
  color: var(--heading-alternate-color);
}

.hero-section {
  background: #363636;
}

.section-heading {
  color: #ffffff;
  font-family: Raleway;
  font-size: 72px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.6px;
}
.small-text {
font-size: 14px;
font-weight: 400;
line-height: 26px; 
letter-spacing: 0.28px; 
}
.section-with-gray-bg {
  color: #f7f7f7;
}

/* List */
.barbers-list li {
  text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0.36px;
color: var(--heading-alternate-color); 
}
.barbers-list li em {
  color: var(--text-active);
text-align: center;
font-size: 14px;
line-height: 19px;
letter-spacing: 0.28px;
}
 .services-list {
  color: var(--text-color);
font-size: 18px;
font-weight: 400;
line-height: 30px; 
letter-spacing: 0.36px;
 }

 .no-underline {
  text-decoration: none;
 }